.login{
	background:url('../../img/bg.jpg');
	background-size: cover;
	background-position: center;
	.login-wrap{
		background:#efefef;
		opacity: 0.8;
		height:400px;
		box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
		width:100%;

	}
}