.Ripple-wrap{
	display:block;
	position:relative;
	// overflow:hidden;
	.Ripple-wave{
		display: block; 
		position:absolute;
		background: rgba(0,0,0,.6);
		border-radius: 100%;
		transform: scale(0);
	}
}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}